<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <link rel='stylesheet' type="text/css" href='https://css-tricks.com/wp-content/themes/CSS-Tricks-17/style.css?v=10.5'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<header class="navbar" id="site-header">
<body class="home">
    <section class="navbar-section">
        <div class="navbar-brand mr-2 logo">
            <img src="/images/navlogo.png"/>
        </div>

            <a href="/listings" class="btn btn-link text-light">Listings</a>
            <a href="/photographers" class="btn btn-link text-light">Our Photographers</a>

            <% if (user) { %>
            <a href="/admin" class="btn btn-link text-light">Admin</a>
            <% } %>
            
                
    </section>  
        
    <section class="navbar-section">    
            <% if (!user) { %> 
                <a href="/register" class="btn btn-link text-light ">Register</a>    
                <a href="/gethired" class="btn btn-link text-light ">Get Hired</a>   
                <a href="/login" class="btn btn-link text-light ">Login</a>
            <% } %>   
            <% if (user) { %>
                 <a href="/logout" class="btn btn-link text-light">Logout</a>
            <% } %>

        <% if (user) { %>
            <span class="badge success" style="float: right">
                <%= user.username %>
            </span>
            <% } %>
        </section> 
    </header>
