<% include partials/header %>
<h1 class=" hero hero-bg-small">
    <%= title %>
</h1>
<div class="container">
    <div class="columns">
        <div>
            <section class="section-scroll" data-scroll>
                <h2>Our Purpose</h2>
                <p class="info-pane">Fotio was created to help photographers and clients have an easy, hassle free meeting and quoting experience. Our goal is to reduce the amount of time people spend googling "Top photographers in Toronto" only to have to sift though endless websites and contact pages - struggling to find one that fits their needs. We want to provide a platform that empowers both the client and photographer and creates a mutually beneficial transaction. Take the headache out of finding the perfect photographer for your next big event, and let them come to you.</p></br>
            </section>
        </div>
    

        <div>
            <section class="section-scroll" data-scroll>
                <h2>Photographers & Fotio</h2>
                <p class="info-pane">The photography industry is booming and becoming more and more saturated with grass roots photographers competeing in a race to the bottom. Our platform charges a fee to help root out those that treat this more as a hobby than a profession. Our hope is to create a comprehensive directory of top notch professional photographers in Ontario. However, unlike some other photography market places, we do not charge on a per quote basis. A yearly subscription fee allows you to quote as many jobs as you like, host your portfolio and gives you access to all future features.</p>
            </section>
        </div>
    </div>
</div>
<% include partials/footer %>