<% include partials/header %>
  <h1>
    <%= title %>
  </h1>
  <% if (user && user.username == "support@fotio.ca") { %>
    <a href="/addBlog" class="button">Add Post</a>
  <% } %>
  <section class="content-section">
    <style scoped>
      section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem;
      }

      .card {
        margin: 1rem;
      }
    </style>
    <% for (let i = 0; i < blogs.length; i++) { %>

      <div class="card listing-card" style="width: 20rem;">
       

        <div class="card-body">
          <h4 class="card-title">
            <a href="/viewBlogPost/<%= blogs[i]._id %>"><%= blogs[i].title %></a>
          </h4>

        </div>
      </div>
      </div>
      <% } %>
  </section>
  <% include partials/footer %>