<%include partials/header.ejs%>
<h1 class=" hero hero-bg-small">I am A...</h1>
<div class="choose-registry-container container">
        <div class="wrapper animated bounceInLeft contactCard">
                <div class="columns">
                        <div class="card contactCard">
                                <div class="card-body">
                                    <h2>Client</h2>
                                    <p>I am looking to get a photographer/videographer for a professional photoshoot!</p>
                                    <a href="/register" class="button">Register as a Client</a>
                                </div>
                        </div>
                </div>
        </div>

        <div class="wrapper animated bounceInRight contactCard">
                <div class="columns">
                        <div class="card contactCard">
                                <div class="card-body">
                                    <h2>Photographer</h2>
                                    <p>I am here to accelerate my business and contact clients who are looking for a photographer for a category I specialize in.</p>
                                    <a href="/subscribe" class="button">Register as a Photographer</a>
                                </div>
                        </div>
                </div>
        </div>
</div>
<% include partials/footer %>