<%include partials/header.ejs%>
<h1 class=" hero hero-bg-small">I am A...</h1>
<div class="choose-registry-container container">
        <div class="wrapper animated bounceInLeft contactCard hero-article-article">
                <div class="columns">
                        <div class="card contactCard">
                                <div class="card-body">
                                    <h2>Client</h2>
                                    <p class="card-subtitle">I am looking to get a photographer/videographer for a professional photoshoot!</p>
                                    <a href="/register" class="button">Register as a Client</a>
                                </div>
                        </div>
                </div>
        </div>

        <div class="wrapper animated bounceInRight contactCard hero-article-article">
                <div class="columns">
                        <div class="card contactCard" style="max-width:20rem;">
                                <div class="card-body">
                                    <h2>Photographer</h2>
                                    <p class="card-subtitle">I am here to accelerate my business and contact clients who are looking for a specialized photographer.</p>
                                    <a href="/gethired" class="button">Register as a Photographer</a>
                                </div>
                        </div>
                </div>
        </div>
</div>
<% include partials/footer %>