<% include partials/header %>
    <% if(warning) { %>
        <div class="row flex-spaces">
            <div class="alert alert-danger">
                <%= warning %>
            </div>
        </div>
        <% } %>
            <h1 class=" hero hero-bg-small">
                <%= title %>
            </h1>
        <div class="container">
            <div class="columns">
                    <div class="card" style="width: 20rem;" style="align-items:center;">
                        <div class="card-body">
                            <form method="POST">

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" class="form-input" required>
                                </div>

                                <div class="form-group">
                                        <label for="portfoliolink">Portfolio Link (Optional)</label>
                                        <input type="url" id="portfolio" name="portfolio" class="form-input">
                                </div>

                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" id="username" name="username" class="form-input" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Create Password</label>
                                    <input type="password" id="password" name="password" class="form-input" required>
                                </div>
                                <div class="form-group">
                                    <label for="password_confirm">Retype Password above</label>
                                    <input type="password" id="confirm" name="confirm" class="form-input" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="photographer" name="photographer" value="Yes" style="visibility:hidden" required>
                                </div>
                                <button type="submit" class="button button-small">Create my Account</button>
                            </form>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-plan_F99sURKqZZKMVs"
  role="link"
>
  Checkout
</button>

<div id="error-message"></div>

<script>
  const stripe = Stripe('pk_test_KtoZqH7idkT9anePS9XkRk7D');
    console.log(stripe);
  const checkoutButton = document.getElementById('checkout-button-plan_F99sURKqZZKMVs');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    console.log('here');
    stripe.redirectToCheckout({
      items: [{plan: 'plan_F99sURKqZZKMVs', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://localhost:3000/listings',
      cancelUrl: 'https://your-website.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>
                        </div>
                        <div class="card-footer">Already have an account?
                            <a href="/login">Login</a>
                        </div>
                    </div>
            </div>
        </div>
<% include partials/footer %>