<% include partials/header %>
    <% if(warning) { %>
        <div class="row flex-spaces">
            <div class="alert alert-danger">
                <%= warning %>
            </div>
        </div>
        <% } %>
            <h1 class=" hero hero-bg-small">
                <%= title %>
            </h1>
        <div class="container register-title">
            <div class="columns">
                    <div class="card" style="width: 20rem;" style="align-items:center;">
                        <div class="card-body">
                            <form method="POST">

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" name="name" class="form-input" required>
                                </div>

                                <div class="form-group">
                                        <label for="portfoliolink">Portfolio Link (Optional)</label>
                                        <input type="url" id="portfolio" name="portfolio" class="form-input">
                                </div>

                                <div class="form-group">
                                        <label for="instagram">Instagram Link (Optional)</label>
                                        <input type="url" id="instagram" name="instagram" class="form-input" placeholder="instagram.com/placeholder">
                                </div>

                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="email" id="username" name="username" class="form-input" required>
                                </div>

                                <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-input" required>
                                </div>

                                <select id="location" name="location" class="form-input" style="border-radius:15px;">
                                    <% var locations =[
                                    "Ajax"
                                    ,"Halton"
                                    ,"Midland"
                                    ,"Peterborough"
                                    ,"Atikokan"
                                    ,"Halton Hills"
                                    ,"Pickering"
                                    ,"Barrie"
                                    ,"Hamilton"
                                    ,"Port Bruce"
                                    ,"Belleville"
                                    ,"Hamilton-Wentworth"
                                    ,"Port Burwell"
                                    ,"Blandford-Blenheim"
                                    ,"Hearst"
                                    ,"Port Colborne"
                                    ,"Blind River"
                                    ,"Huntsville"
                                    ,"Port Hope"
                                    ,"Brampton"
                                    ,"Ingersoll"
                                    ,"Prince Edward"
                                    ,"Brant"
                                    ,"James"
                                    ,"Quinte West"
                                    ,"Brantford"
                                    ,"Kanata"
                                    ,"Renfrew"
                                    ,"Brock"
                                    ,"Kincardine"
                                    ,"Richmond Hill"
                                    ,"Brockville"
                                    ,"King"
                                    ,"Sarnia"
                                    ,"Burlington"
                                    ,"Kingston"
                                    ,"Sault Ste. Marie"
                                    ,"Caledon"
                                    ,"Kirkland Lake"
                                    ,"Scarborough"
                                    ,"Cambridge"
                                    ,"Kitchener"
                                    ,"Scugog"
                                    ,"Chatham-Kent"
                                    ,"Larder Lake"
                                    ,"Souix Lookout CoC Sioux Lookout"
                                    ,"Chesterville"
                                    ,"Leamington"
                                    ,"Smiths Falls"
                                    ,"Clarington"
                                    ,"Lennox-Addington"
                                    ,"South-West Oxford"
                                    ,"Cobourg"
                                    ,"Lincoln"
                                    ,"St. Catharines"
                                    ,"Cochrane"
                                    ,"Lindsay"
                                    ,"St. Thomas"
                                    ,"Collingwood"
                                    ,"London"
                                    ,"Stoney Creek"
                                    ,"Cornwall"
                                    ,"Loyalist Township"
                                    ,"Stratford"
                                    ,"Cumberland"
                                    ,"Markham"
                                    ,"Sudbury"
                                    ,"Deep River"
                                    ,"Metro Toronto"
                                    ,"Temagami"
                                    ,"Dundas"
                                    ,"Merrickville"
                                    ,"Thorold"
                                    ,"Durham"
                                    ,"Milton"
                                    ,"Thunder Bay"
                                    ,"Dymond"
                                    ,"Nepean"
                                    ,"Tillsonburg"
                                    ,"Ear Falls"
                                    ,"Newmarket"
                                    ,"Timmins"
                                    ,"East Gwillimbury"
                                    ,"Niagara"
                                    ,"Toronto"
                                    ,"East Zorra-Tavistock"
                                    ,"Niagara Falls"
                                    ,"Uxbridge"
                                    ,"Elgin"
                                    ,"Niagara-on-the-Lake"
                                    ,"Vaughan"
                                    ,"Elliot Lake"
                                    ,"North Bay"
                                    ,"Wainfleet"
                                    ,"Flamborough"
                                    ,"North Dorchester"
                                    ,"Wasaga Beach"
                                    ,"Fort Erie"
                                    ,"North Dumfries"
                                    ,"Waterloo"
                                    ,"Fort Frances"
                                    ,"North York"
                                    ,"Waterloo"
                                    ,"Gananoque"
                                    ,"Norwich"
                                    ,"Welland"
                                    ,"Georgina"
                                    ,"Oakville"
                                    ,"Wellesley"
                                    ,"Glanbrook"
                                    ,"Orangeville"
                                    ,"West Carleton"
                                    ,"Gloucester"
                                    ,"Orillia"
                                    ,"West Lincoln"
                                    ,"Goulbourn"
                                    ,"Osgoode"
                                    ,"Whitby"
                                    ,"Gravenhurst"
                                    ,"Oshawa"
                                    ,"Wilmot"
                                    ,"Grimsby"
                                    ,"Ottawa"
                                    ,"Windsor"
                                    ,"Guelph"
                                    ,"Ottawa-Carleton"
                                    ,"Woolwich"
                                    ,"Haldimand-Norfork"
                                    ,"Owen Sound"
                                    ,"York"]
                                    locations.sort();
                                    for (let i = 0; i < locations.length; i++) { %>
                                <option value="<%= locations[i] %>"><%= locations[i] %></option>
                                        <%}%>
                                </select>

                                <div class="form-group">
                                    <label for="password">Create Password</label>
                                    <input type="password" id="password" name="password" class="form-input" required>
                                </div>
                                <div class="form-group">
                                    <label for="password_confirm">Retype Password above</label>
                                    <input type="password" id="confirm" name="confirm" class="form-input" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="photographer" name="photographer" value="Yes" style="visibility:hidden" required>
                                </div>
                                <button type="submit" class="button button-small">Create my Account</button>
                            </form>

                        </div>
                        <div class="card-footer">Already have an account?
                            <a href="/login">Login</a>
                        </div>
                    </div>
            </div>
        </div>
<% include partials/footer %>