<% include partials/header %>
  <h1>
    <div class="container">
      <div>
        <h2>Welcome to Fotio.</h2>
        <p>Fotio is a site made for people to post their job direct to a board made solely for photographers. Post a job and get quotes from many photographers in the area.
          Or browse our list of photographers and their portfolios and contact one that you feel fits your needs.

          Photographers can use our site to quote, consult and schedule their clients with ease.
        </p>
      </div>
    </div>
  </h1>
  <% include partials/footer %>