<% include partials/header %>
  <h1>
    <div class="container">
      <div>
        <h2>Welcome to Fotio.</h2>
        <p>We connect Photographers to clients for...</p>
        <div id="banner-container">
            <p class="js-nametag">Weddings,</p>
            <p class="js-nametag">Portraits,</p>
            <p class="js-nametag">Events,</p>
            <p class="js-nametag">Promotions</p>
            <p class="js-nametag">And More.</p>
        </div>
      </div>
    </div>
  </h1>
  <% include partials/footer %>