<% include partials/header %>
  <h1>
    <div class="container">
      <div id="indexCarousel">
        <div id="titleWrapper">
          <h2>Welcome to Fotio.</h2>
        <div>
          <script>homePageCarousel();</script>
          <p>We connect Photographers to clients for...</p>
          <div id="banner-container">
              <p class="js-nametag">Weddings,</p>
              <p class="js-nametag">Portraits,</p>
              <p class="js-nametag">Events,</p>
              <p class="js-nametag">Modelling</p>
              <p class="js-nametag">And More.</p>
          </div>
      </div>
    </div>
    </div>
  </h1>

    <div class="module-border-wrap" data-scroll>
      <section class="section-scroll" data-scroll>
        <h3 data-scroll>What is Fotio?</h3>
        <p class="info-pane" data-scroll>Fotio exists simply to make the process of finding a professional photographer as seamless as possible. Our aim is to eliminate the process of contacting dozens of photographers, exploring their work and getting quote after quote. With Fotio, you post your job and the photographers come to you. No more emails without a response, or wasting time finding a photographer in your budget.</p>
      </section>
    </div>

    <div class="module-border-wrap" data-scroll>
      <section class="section-scroll" data-scroll>
        <h3 data-scroll>Why work with Fotio</h3>
        <p class="info-pane" data-scroll>Be active with your business! Take action during slow periods and start quoting work directly instead of waiting for jobs to come to you. Our annual fee does not limit you to how many jobs you can take on, nor do we charge a commission. Every job you do is 100% your profit. When you sign up you will also get access to all future features, including portfolio hosting and calendar scheduling integration.</p>
      </section>
    </div>
</div>
<script>
  ScrollOut({

  });
</script>
</div>
  <% include partials/footer %>