<% include partials/header %>
  <h1>
    <%= title %>
    <div class="container">
      <div>
        <h2>Welcome to Fotiio.</h2>
        <p>Fotio is a site for photographers available for private commissions and commercial work. 
          Explore portfolios and contact those you feel fit your needs or submit your brief and photographers will introduce themselves and quote direct.</p>
      </div>
    </div>
  </h1>
  <% include partials/footer %>