<% include partials/header %>
    <% if (messages.length > 0) { %>
        <div class="row flex-spaces">
            <div class="label label-error">
                <%= messages.toString() %>
            </div>
        </div>
        <% } else { %>
            <div class="row flex-spaces">
                <div class="label label-primary">
                    Please enter your credentials
                </div>
            </div>
            <% } %>
                <h1 class=" hero hero-bg-small">
                    <%= title %>
                </h1>
                <div class="container" style="align-items: center;">
                    <div class="columns">
                        <div class="card" style="width: 20rem; align-items: center;">
                            <div class="card-body">
                                <form method="POST">
                                    <div class="form-group">
                                        <label for="username">Email</label>
                                        <input type="email" id="username" name="username" class="form-input" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-input" required>
                                    </div>
                                    <button type="submit" class="button button-small">Login to my Account →</button>
                                    <br>

                                    </div>

                                </form>
                            
                                <div class="card-footer">Need access?
                                    <a href="/register">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include partials/footer %>