<% include partials/header %>
<div class="container">
  <div class="hero hero-sm">
    <div>
      <h1>
        <%= title %>
      </h1>
    </div>
  </div>

  <!--
  <div class="column">
      <p>
        <a href="/admin/editPhotographer/<%= user._id %>" class="btn btn-primary" id="editPhotographer">edit</a>
      </p>
  </div>
  -->

  <div class="container">
      <div class="columns">
              <div class="card" style="width: 20rem;" style="align-items:center;">
                  <div class="card-body">
                      <form method="post" enctype="multipart/form-data" action="/uploadProfilePicture">
                        <div class="form-group">
                            <label for="file">Upload a Profile Picture, currently not available due to Heroku hosting</label>
                          </div>

                          <div class="form-group">
                            <label for="emailAlert">Select which categories you would like email alerts for</label>
                            <div>
                            <select multiple>
                              <option>Weddings</option>
                              <option>Corporate</option>
                              <option>Products / Promotional</option>
                              <option>Events</option>
                              <option>Automotive</option>
                              <option>Cosplay</option>
                              <option>Portrait</option>
                            </select>
                          </div>
                          </div>
                          
                      </form>
                  </div>
              </div>
      </div>
  </div>
  <% include partials/footer %>