<% include partials/header %>
<div class="container">
  <div class="hero hero-sm">
    <div class="col-10 col">
      <h1>
        <%= title %>
      </h1>
    </div>
  </div>

  <!--
  <div class="column">
      <p>
        <a href="/admin/editPhotographer/<%= user._id %>" class="btn btn-primary" id="editPhotographer">edit</a>
      </p>
  </div>
  -->

  <div class="container">
      <div class="columns">
              <div class="card" style="width: 20rem;" style="align-items:center;">
                  <div class="card-body">
                      <form method="post" enctype="multipart/form-data" action="/uploadProfilePicture">
                        <div class="form-group">
                            <label for="file">Upload a Profile Picture, currently not aavailable due to Heroku hosting</label>
                          </div>
                          
                      </form>
                  </div>
              </div>
      </div>
  </div>
  <% include partials/footer %>