<% include partials/header %>
<div class="container">
  <div class="hero hero-sm">
    <div>
      <h1>
        <%= title %>
      </h1>
    </div>
  </div>

  <div class="column">
      <p>
        <a href="/admin/editPhotographer/<%= user._id %>" class="btn btn-primary" id="editPhotographer">edit</a>
      </p>
      <p>
          <a href="portfolio/<%= user._id %>" class="btn btn-primary" id="portfolio">Portfolio</a>
        </p>
  </div>

  <div class="container">
      <div class="columns">
              <div class="card" style="width: 20rem;" style="align-items:center;">
                  <div class="card-body">
                        <div class="form-group">
                            <label for="file">Email subscriptions, portfolio hosting and more coming soon.</label>
                          </div>
                          <button class="button" onclick="uploadArea('<%= user._id %>');">Upload to your Portfolio</button>
                          <!--
                          <div class="form-group">
                            <label for="emailAlert">Select which categories you would like email alerts for</label>
                            <div>
                            <select multiple>
                              <option>Weddings</option>
                              <option>Corporate</option>
                              <option>Products / Promotional</option>
                              <option>Events</option>
                              <option>Automotive</option>
                              <option>Cosplay</option>
                              <option>Portrait</option>
                            </select>
                          </div>
                          -->
                        </div>
                  </div>
              </div>
      </div>
  </div>
  <% include partials/footer %>