<% include partials/header %>
<div class="container">
  <div class="hero hero-sm">
    <div class="col-10 col">
      <h1>
        <%= title %>
        THIS IS THE PHOTO ADMIN
      </h1>
    </div>
  </div>

  <div class="column">
      <p>
        <a href="/admin/editPhotographer/<%= user._id %>" class="btn btn-primary" id="editPhotographer">edit</a>
      </p>
    </div>
  <% include partials/footer %>