<% include partials/header %>
<h1>
    <%= title %>
  </h1>
<div class="container" style="background-image:url('https://images.unsplash.com/photo-1471341971476-ae15ff5dd4ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80'); height:100%;">
  <div class="hero hero-sm">
    <div>

    </div>
  </div>
      <div class="columns">
              <div class="card" style="width: 20rem;" style="align-items:center;">
                  <div class="card-body">
                        <div class="form-group">
                            <p>
                                <a href="/admin/editPhotographer/<%= user._id %>" class="btn btn-primary" id="editPhotographer">Edit your Information</a>
                              </p>
                              <p>
                                  <a href="portfolio/<%= user._id %>" class="btn btn-primary" id="portfolio">View your Portfolio</a>
                                </p>
                        </div>
                          <button class="button" onclick="uploadArea('<%= user._id %>');">Upload to your Portfolio</button>
                          <!--
                          <div class="form-group">
                            <label for="emailAlert">Select which categories you would like email alerts for</label>
                            <div>
                            <select multiple>
                              <option>Weddings</option>
                              <option>Corporate</option>
                              <option>Products / Promotional</option>
                              <option>Events</option>
                              <option>Automotive</option>
                              <option>Cosplay</option>
                              <option>Portrait</option>
                            </select>
                          </div>
                          -->
                  </div>
              </div>
        </div>
      </div>
  </div>
  <% include partials/footer %>