<% include partials/header %>
    <h1 class=" hero hero-bg-small">
        <%= title %>
    </h1>
<div class="container">
    <div class="columns">
            <div class="module-border-wrap" data-scroll>
                    <section class="section-scroll" data-scroll>
                      <h3 data-scroll>Why work with Fotio</h3>
                      <p class="info-pane" data-scroll>Be active with your business! Take action during slow periods and start quoting work directly instead of waiting for jobs to come to you. Our annual fee does not limit you to how many jobs you can take on, nor do we charge a commission. Every job you do is 100% your profit. When you sign up you will also get access to all future features, likecalendar scheduling integration.</p>
                    </section>
                  </div>

                <section class="card" style="padding:5px;">
                    <h3>Price: $50 annually</h3>
                    <p> We do not charge any commission on any jobs, or limit the amount of jobs you can quote for.
                        The subscription will also include all future features.
                    </p>
                    <button
                        style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                        id="checkout-button-plan_F99sURKqZZKMVs"
                        role="link"
                        onclick="stripeCheckout()">
                        Proceed to Stripe Checkout
                    </button>
                </section>
    </div>
<% include partials/footer %>