/*body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

html, body{ height:100%; margin:0; }
footer{ height:50px; }

body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}
/*#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
}
*/

a {
  color: #00B7FF;
}

a.text-light:hover{
  color:slateblue;
}

h1{
  padding:0 1em;
  
}

.navbar .navbar-section{
  background:#303742;
  padding:20px;
}

.content-section{
  padding:0 1em;
}

.container{
  
  text-align:center;
}

.columns{
  display: inline-block;
  border-radius: 5px;
  min-width:50%;
}

.hero{

  text-align: center;
}

.label-error{
  display:block;
  text-align:center;
  padding:15px;
}

.label-primary{
  display:block;
  text-align:center;
  padding:15px;
}


#addListing{
  position: fixed;
  display: block;
  background-color: #339933
}

.card{
  display:inherit;

}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.filterBar{
  display: inline-block;
  margin-left:2em;
}

#category{
  width:100%;
}
