/*body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

html, body{ height:100%; margin:0; }
footer{ height:50px; }

body{ 
  display:flex; 
  flex-direction:column; 
  background-image: linear-gradient(to bottom, rgb(15,14,23),rgb(16,14,23));
}

footer{
  margin-top:auto; 
}
/*#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
}
*/

.listing-link{
  color: purple !important;
}

a :visited{
  color:#807fe2
}

a.text-light:hover{
  color:slateblue;
}

h1{
  padding:0 .7em;
  color:white;
}

.navbar .navbar-section{
  background:none;
  /*background:#303742;*/
  padding:20px;
}

.content-section{
  padding:0 1em;
}

.container{
  
  text-align:center;
}

.columns{
  display: inline-block;
  border-radius: 5px;
  min-width:50%;
}

.column{
  color:white;
}

.hero{

  text-align: center;
}

label{
  color:white;
}

.label-error{
  display:block;
  text-align:center;
  padding:15px;
}

.label-primary{
  display:block;
  text-align:center;
  padding:15px;
}


#addListing{
  position: fixed;
  display: block;
  background-color: #339933
}

.card{
  display:inherit;
  background-image: linear-gradient(rgb(35, 30, 51),rgb(38, 33, 56));
  color:white;
}

.card-footer{
  color:white;
}


.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.filterBar{
  display: inline-block;
  margin-left:2em;
}

#category{
  width:100%;
}

.dropdown-toggle{
  margin-left:5px;
}

.listing-card{
  color:rgb(41, 38, 58);
  background:white;
}

.js-nametag{
  display:inline-block;
  
}

.js-nametag {
	text-align: center;
	line-height: 100px;
	opacity: 0;
	animation: fadeIn 1s ease-in both;
}

.js-nametag:nth-child(2) {
	animation-delay: 1s;
}
.js-nametag:nth-child(3) {
	animation-delay: 2s;
}
.js-nametag:nth-child(4) {
	animation-delay: 3s;
}
.js-nametag:nth-child(5) {
	animation-delay: 4s;
}
.js-nametag:nth-child(6) {
	animation-delay: 4s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
