/*body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

/*********************Navbar settings ****************************/

html a{
  color:#ef1060;
}

a:hover{
  background: -webkit-gradient(linear,left top,right top,from(#b2f5fa),to(#baf0b8));
  background: linear-gradient(to right,#ef1060,#f8b5e2) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.navbar-section{
  border-bottom-style: solid;
  border-bottom-color: #ef1060;
}



.btn-link{
  font-family: 'Vollkorn SC', serif !important;
  font-size: 1rem;
  text-decoration:blue
}

#email{
  background: #edf3ff !important;
}




/***** SCROLL BAR SETTINGS **********/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(236, 236, 236));
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(178, 220, 240), rgb(159, 225, 245));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(178, 220, 240), #d918f3);
}


html, body{ 
  height:100%; 
  margin:0; 
  overflow-x: initial !important;
}


footer{  
  max-height:10vh;
  z-index: 1;
  margin-top:auto; 
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(236, 236, 236));
 }

body{ 
  display:flex; 
  flex-direction:column; 
  /*background-image: linear-gradient(to bottom, rgb(15,14,23),rgb(16,14,23));*******DARK*****/
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(236, 236, 236));
}

.listing-link{
  color: purple; 
}

.listing-link :visited{
  color:#807fe2;
}

a.text-light:hover{
  color:slateblue;
}

h1{
  font-family: 'Vollkorn SC', serif !important; 
  padding:0 .7em;
  /*color:white; *****DARK*/
  color:black;
  border-bottom-style: solid;
  border-bottom-color: #ef1060;
  margin-bottom:auto !important;
}

.container{
  height:100%;
}

form{
  padding:5px;
}

/*******************************************************Card css***********************************/

.card-body{
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: #ef1060;
}

.contactCard{
  display:inline-block;
  min-width:45vw;
}

.card{
  display:inline-block;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(236, 236, 236));
  color:black;
  max-width:40rem;
}

.card-footer{
  /*color:white;*/
  color:black;
}

.card-text{
  max-width:75%;
}

.login-card{
  min-width:50vw;
}



/***************************************************************************LISTINGS PAGE STUFF***************************************************************************************/
.listings-container{
  height:100%;
  background:url("/images/listings-container.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #ef1060;
  overflow:scroll;
}

/**********************************************************************  Container Backgrounds  ******************************/

.listings-title{
  height:150px;
  background:linear-gradient(to top, rgba(255,255,255,0) 20%,
  rgba(250,250,250,1)), url('https://images.unsplash.com/photo-1503847003563-6819dd01382b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
  background-size: cover;
  background-position: center;
}

.register-title{
  background-image: url('/images/register.jpg') !important;
  background-size: cover;
  background-position: center;
}

.login-title{
  background-image: url('/images/login.jpg') !important;
  background-size: cover;
  background-position: center;
}

.view-listing-body{
  background-image: url('/images/view-listing.jpg') !important;
  background-size: cover;
  background-position: center;
}

.choose-registry-container{
  background-image: url('https://images.unsplash.com/photo-1490464986134-e746227b0a09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') !important;
  background-size: cover;
  background-position: center;
}

.navbar .navbar-section{
  background:none;
  /*background:#303742;*/
  padding:20px;
}

.content-section{
  flex-wrap: inherit;
  padding:0 1em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

.info-pane{
  font-size: 25px;
}

.container{
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(236, 236, 236));
  text-align:center;
}

.columns{
  display: inline-block;
  border-radius: 5px;
  min-width:50%;
}

.column{
  /*color:white; ****DARK***/
  color:black;
}

.hero{
  padding:2rem;
  text-align: center;
}

label{
  /*color:white; ***DARK*/
  color:black;
}

.label-error{
  display:block;
  text-align:center;
  padding:15px;
}

.label-primary{
  display:block;
  text-align:center;
  padding:15px;
}

.badge{
  background:#5755d9 !important;
}


#addListing{
  
  display: block;
  background-color: #339933
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.filterBar{
  display: inline-block;
  margin-left:2em;
}

#category{
  width:100%;
}

.dropdown-toggle{
  margin-left:5px;
}

.listing-card{
  color:rgb(41, 38, 58);
  background:white;
}

.form-input{
  background:#edf3ff;
}

/**** Landing Page Stuff               ****************************************************************************************************/


.js-nametag {
  display:inline-block;
	text-align: center;
	line-height: 100px;
	opacity: 0;
	animation: fadeIn 1s ease-in both;
}

.js-nametag:nth-child(2) {
	animation-delay: 2s;
}
.js-nametag:nth-child(3) {
	animation-delay: 4s;
}
.js-nametag:nth-child(4) {
	animation-delay: 6s;
}
.js-nametag:nth-child(5) {
	animation-delay: 8s;
}
.js-nametag:nth-child(6) {
  animation-delay: 10s;
}

#indexCarousel{
  max-height: 100vh;
  max-width: 100vw;
  animation: fadeIn 1s ease-in both;
  overflow:hidden;
  display:inline-block;
  position:absolute;
  
}

.indexBackground{
  float:right;
  display: grid;
  height: calc(100vh - 180px);
  width: calc(100vw - 2px);
  animation: fadeIn 1s ease-in both;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.indexBackground:nth-child(2) {
  animation-delay: 2s;
}
.indexBackground:nth-child(3) {
	animation-delay: 4s;
}
.indexBackground:nth-child(4) {
	animation-delay: 6s;
}
.indexBackground:nth-child(5) {
	animation-delay: 8s;
}
.indexBackground:nth-child(6) {
  animation-delay: 10s;
}

#titleWrapper{
  background: rgba(255, 255, 255, 0.5);
  padding:10px;
  z-index: 1;
  text-align:center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.section-scroll{
  height:50vh;
  width: 100%;
  padding:6em;
  box-sizing: border-box;
  /*****DARK
  color:white;
  background-image: linear-gradient(to bottom, rgb(15,14,23),rgb(16,14,23));
  */
  background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(236, 236, 236));
  color:black;
}


.module-border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right,#ef1060,#f8b5e2);
  padding: 3px;
  
}


[data-scroll]{
  transition: all 2s;
}

[data-scroll="in"]{
  opacity:1;
  transform: translateX(0);
}

[data-scroll="out"]{
  opacity:0;
  transform: translateX(-200px);
}

.badge{
  background-color: #807fe2;
  color:white;
}

.colorTransform {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}


@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}



/********************************************************************Portfolio Page Styles */
.header-section{
  display:inline-block;
  min-height:35%;
  background-size: cover;
  background-position: center;
}

.portfolioInfo{
  opacity:0.5;
  line-height: 0% !important;
}

.portfolioCard{
  width:550px; 
  height:800px; 
  display:inline-block;
}


/********************************************Polaroid Effect ***********************************************/

.wrapper {
  width: 70%;
  padding: 0 1rem;
  text-align: center;
}
.polaroid {
  min-height:350px;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px -6px 28px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 1px -6px 28px -4px rgba(0,0,0,0.75);
  box-shadow: inset 1px -6px 28px -4px rgba(0,0,0,0.75);  
  
}
.polaroid > .listing-details{
  min-height:250px;
  color:whitesmoke;
  margin:auto;
  text-align:center;
  background:black;
  max-width: 70%;
  height: 75%;
}
.caption {
  font-size: 1rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

.topnav .icon {
  display: none;
}

.fa{
  display:inline !important;
}

#nav-section-2{
  display:none;
}


@media (min-width: 320px) and (max-width: 600px) {

  .topnav a {display: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .card{
    min-width:25vw;
    min-height:25vh;
  }
  
  .card-body{
    min-width:25vw;
    min-height:25vh;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #ef1060;
    font-size: 16px;
  }

  .contactCard{
    width:100%;
  }

  html{
    font-size: 16px;
    min-height:100%;
    background:red;
  }

  .navbar-section{
    max-width:100vw;
    max-height:20vh;
    border-bottom-style: solid;
    border-bottom-color: #ef1060;
    flex-wrap:nowrap !important;
  }

  .home{
    padding-top:0px;
  }

  table{
    table-layout: unset !important;
  }

  .navbar-section-2{
    display:none !important;
  }

  h1{
    display:inherit;
  }

  #nav-section-2{
    display:inherit;
    align-self:center;
    border-bottom-style: solid;
    border-bottom-color: #ef1060;
  }

  .columns{
    display:block;
  }

  .portfolioCard{
    max-width:90vw;
  }

  .info-pane{
    font-size:12px;
  }

  .choose-registry-container{
    overflow-x:hidden;
    overflow:scroll;
  }

}
